requests~=2.31.0
pandas~=2.1.1
joblib~=1.2.0
numpy~=1.23.5
flask~=3.0.0
holidays~=0.40
seaborn~=0.13.1
sklearn~=0.0.post1
scikit-learn~=1.2.2
xgboost~=2.0.2
workalendar~=17.0.0
geopy~=2.4.1
matplotlib~=3.7.1
imblearn~=0.0